<div class="wrapper">
    <div class="main-container">
        <div class="selection-count">
            <select name="currencyFrom" id="currencyFrom" #from (change)="getFlag(from.value, to.value)" >
                <option *ngFor="let c of currenciesFrom" [value]="c" [selected]="c == 'MAD'" >
                  {{c}}
                </option>
              </select>
            <p>to</p>
            <select name="currencyTo" id="currencyTo" #to (change)="getFlag(from.value, to.value)"  >
                <option *ngFor="let c of currenciesTo" [value]="c" [selected]="c == 'USD'" >
                  {{c}}
                </option>
              </select>
        </div>
        <div class="convert">
            <input id="amount" type="number"  (input)="inputHandler($event)" [(ngModel)]="value" />
            <button (click)="convertCurrency(from.value, to.value, value)">Convert</button>
        </div>
        <div class="result-container">
          <div>Result: </div>
          <p class="result">{{result}}</p>
        </div>
    </div>  
</div>
